.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 2rem;
    max-width: 90vw;
    border-radius: 4rem;
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.back-icon {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 1rem;
}

.back-icon:hover {
    color: #cbd5e1;
}

.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container h2 {
    font-family: 'TTHoves-Bold', sans-serif;
    font-size: 2rem;
    color: white;
    align-self: center;
    line-height: 0;
}

.right-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.2rem;
    padding: 1rem;
}

.login-btn {
    font-family: 'TTHoves-DemiBold', sans-serif;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
        padding: 2rem;
    }

    .right-container {
        width: 100%;
    }

    .right-container {
        margin-top: 1rem;
    }
}
