.notification-item h3 {
    padding-left: 16px;
    font-size: 20px;
    font-family: 'TTHoves-DemiBold', sans-serif;
    color: #1b2223;
    margin-top: 15px;
    margin-bottom: 1px;
}

.notification-item p {
    padding-left: 16px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 1.4;
    color: #333;
}

.notification-item-box {
    padding: 6px !important;
    margin-top: 6px;
}
