.sidebar {
    background: linear-gradient(360deg, #1B2223 0%, rgb(31, 54, 58), 46%, #1B2223 91%);
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2rem 0.8rem;
    color: #fff;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo-section {
    font-family: "TTHoves-Bold", sans-serif;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-left: 1rem;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
}

.logo-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-list {
    font-family: "TTHoves-Medium", sans-serif;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin-top: 2.5rem;
}

.nav-item {
    margin-bottom: 0.5rem;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 9px 18px;
    border-radius: 10px;
    color: #EBEBEB;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    background: transparent;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.nav-link.active {
    background: linear-gradient(90deg, rgba(58, 79, 80, 0.51) 0%, rgb(27, 34, 35) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 8px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.nav-link .icon {
    display: flex;
    align-items: center;
}

.nav-link i {
    font-size: 1.2rem;
}

.nav-link:active {
    transform: scale(0.98);
}

/* Logout section */
.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-left: 1rem;
    margin-top: auto;
}

.profile-link {
    font-family: "TTHoves-Regular", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.8rem;
    color: #bfc8cb;
    transition: all 0.3s ease;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
}

.profile-link:hover {
    color: #fff;
    transform: translateX(5px);
}

.profile-link.active {
    color: #fff;
    transform: translateX(5px);
}

.logout-link {
    font-family: "TTHoves-Regular", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.8rem;
    color: #bfc8cb;
    transition: all 0.3s ease;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
}

.logout-link:hover {
    color: #ff6b6b;
    transform: translateX(5px);
}


